@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anonymous Pro', monospace;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  gap: 30px;
  color: white;
  background-color: black;
}
#baslik{
font-size: 80px;
}
#btn{
  padding: 6px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 20px;
}
#btn:active{
  background-color: black;
  color: white;
}
.hide{
  display: none;
}